<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>userList</title>
</head>
<body>
<br/>
<h1>用户列表</h1>
<br/><br/>
<div>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>User Name</th>
                <th>Password</th>
            </tr>
        </thead>

        <tbody>
            <tr  th:each="user:${users}">
                <th scope="row" th:text="${user.id}">1</th>
                <td th:text="${user.userName}">neo</td>
                <td th:text="${user.passWord}">Otto</td>
            </tr>
        </tbody>
    </table>
</div>

</body>
</html>


